{% extends 'app/base.html' %}


{% block title %}
         | Patients  
{% endblock title %}

{% block icon-nav %}
<a href="{% url 'backend' %}" class="navbar-brand flex-grow-1" style='text-align: center; color:#fff; margin-left:25px;'>
<i class='fas fa-hospital-user'>
    &nbsp; Patients Data</i>
</a>
{% endblock icon-nav %}


{% block btn-nav %}
    <a class='btn btn-danjer-primary btn-sm border-light text-light' id='btn-nav' data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</a>
{% endblock btn-nav %}

{% block content %}

<div class='container'>
            <br>
    
        <div class='d-flex justify-content-between'>
            <a href="{% url 'add_patient' %}" class='btn btn-outline-primary btn-sm'>
                <i class="fas fa-plus">&nbsp;Add a Patient</i>
            </a>

            <span>Welcome: <strong><span class='text-primary'>{{user.get_username}}</span></strong></span>

        </div>

        
        <form method='GET' action="" >
            <div class="input-group input-group-sm mb-3 mt-4">
                <input type="text" name='query' class='form-control' placeholder="search.. ." value='{{request.GET.query}}'>
                <button class='btn btn-secondary'>
                    <i class="fas fa-search"></i>
                    
                </button>
                <a href="{% url 'backend' %}" class='btn btn-dark' style="margin-left:2px;">
                    <i class="fas fa-sync-alt"></i>
                </a>
            </div>

        </form>

{% comment %} 
            <!-- patients tables --> {% endcomment %}
    <center>
        <table class="table table-bordered table-sm mt-4">
            <thead class="table-primary">
                <tr>
                    <th style="width:21%">Name</th>
                    <th style="width:15%">Phone</th>
                    <th style="width:22%">Email</th>
                    <th style="width:5%">Age</th>
                    <th style="width:5%">Gender</th>
                    <th style="width:18%">Registered</th>
                    <th colspan="2" style="width:14%">Action</th>
                </tr>
            </thead>
            {% comment %} <!--  data from the backend --> {% endcomment %}
            {% for patient in patients %}
            <tr id="check-td">
                <td id="responsive-border">{{ patient.name |title }}</td>
                <td id="responsive-border">{{ patient.phone }}</td>
                <td id="responsive-border">{{ patient.email }}</td>
                <td id="responsive-border">{{ patient.age }}</td>
                <td id="responsive-border">{{ patient.gender }}</td>
                <td id="responsive-border">{{ patient.created_at | date:'m/d/Y (H:i)' }}</td>
                

                <td >
                    <a href="/patient/{{patient.id}}" class='btn btn-primary' title="Edit">
                        <i class="fas fa-pen"></i>
                    </a>
                </td>
                <td>
                    <a  class='btn btn-secondary' title="delete" data-bs-toggle="modal" data-bs-target="#deleteModal{{ patient.pk}}">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
                
            </tr>

             {% comment %} <!-- delete confirmation --> {% endcomment %}

    <div class="modal fade" id="deleteModal{{ patient.pk}}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                <span class="text-danger"><i class="fas fa-trash-alt fa-3x mt-2"></i></span>
                <div class="mt-4 text-danger">
                    Do you want to delete <b>{{patient.name}}</b> details?
                    
                </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">cancel</button>
                <a href="/delete_patient/{{patient.id}}" type="button" class="btn btn-outline-danger btn-sm">Delete</a>
                </div>
            </div>
        </div>
      </div>

            {% endfor %}
        </table>
    </center>

   




                {% comment %} <!-- pagination --> {% endcomment %}

<nav class="mt-4 mb-5">
{% if patients.has_other_pages %}
    <ul class="pagination justify-content-left">
        {% if patients.has_previous %}
            <a href="?page=1" class='btn btn-outline-primary mb-4' style='width:60px; border-radius:1px; border:1px solid blue;'>First</a>

                <li class="page-item"> 
                    <a href="?page={{ patients.previous_page_number }}" class='page-link'>
                        <i class="fas fa-angle-double-left"></i>
                    </a> 
                </li>
        {% else %}
                <li class="page-item disabled"></li>
        {% endif %}

        
        {% for i in patients.paginator.page_range %} 
            {% if patients.number == i %} 
                <li class='page-item active'>
                    <span class="page-link">{{i}}
                        <span class="'sr-only"></span>
                    </span>
                </li>
        {% else %}
                <li class="page-item">
                    <a href="?page={{i}}" class="page-link">{{ i }}</a>
                </li>
        {% endif %}
        {% endfor %}

        {% if patients.has_next %}
        
                <li class="page-item"> 
                        <a href="?page={{ patients.next_page_number}}" class='page-link'>
                                <i class="fas fa-angle-double-right"></i>
                            </a> 
                </li>
        

                <a href="?page={{ patients.paginator.num_pages }}" class='btn btn-outline-primary mb-4' style='width:60px; border-radius:1px; border:1px solid blue; border-left:none;'>Last</a>
        {% else %}
                <li class="page-item disabled"></li>
        {% endif %}
    </ul>
{% endif %}
</nav>



    {% comment %} <!--  error messages  --> {% endcomment %}
    {% for msg in messages %}
        {% if msg.tags == 'success' %} 
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        <script>
            var m= "{{ msg }}"

            swal("Perfect !", m, "success")
            </script>
        {% endif %}
    {% endfor %}
</div>


<b class="text-danger text-center " id="no-data"></b>



{% endblock content %}